<button
  class="btn btn-dark fs-3 btn btn-outline-warning"
  type="button"
  id="button-addon2"
  (click)="get(pregunta)"
>
  Empezar
</button>

<ng-container *ngIf="preguntas">
  <h2 class="title--cars">Pasa y Gana</h2>

  <div
    class="card text-white bg-dark mb-3 border-warning mb-3"
    style="width: 18rem"
  >
    <div class="card-body">
      <h5 class="card-title text-center">
        {{ preguntas.pregunta | uppercase }}
      </h5>
      <ul>
        <li *ngFor="let opciones of preguntas.opciones">
          <label>
            <input
              type="radio"
              name="respuesta"
              value="{{ opciones }}"
              (change)="traer($event)"
            />
            {{ opciones }}
          </label>
        </li>
      </ul>
      <p class="card-text">
        tu respuesta es : <br />
        {{ resultado }}
      </p>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="preguntas">
  <p>
    score : <br />
    {{ score | currency: "COP":"symbol" }}
  </p>
  <button
    class="btn btn-dark fs-3 btn btn-outline-warning"
    type="button"
    id="button-addon2"
    (click)="end()"
  >
    Retirarme con dignidad
  </button>
</ng-container>

<ng-container *ngIf="ganancia">
  <p>{{ ganancia | currency: "COP":"symbol" }}</p>
</ng-container>
