<h1 class="text-center fw-bold fs-1 m-4">BIENVENIDOS A<br>  PASA Y GANA</h1>

<h2 class="ps-5">
Pasa y gana es un juego de preguntas en el que   podras ganar dinero de acuerdo a tus conocimientos;
</h2>

<h1 class="ps-3">El juego consiste en:</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-secondary"><b>25</b> preguntas informacion general</li>
    <li class="list-group-item">Por cada pregunta acertada tendras  un premio de 5 millones de pesos  para un acumulado final de 125 millones</li>
    <li class="list-group-item list-group-item-secondary">Si pones la respuesta equivocada  se terminara el juego y perderas el dinero acumulado</li>
    <li class="list-group-item ">En la opcion <b>retirarme  </b> te retiras con el dinero acomulado  hasta el momento</li>
    <li class="list-group-item list-group-item-secondary">Una vez seleccionada una respuesta tendras  2 segundos para cambiarla de lo contrario se calificara automaticamente</li>
     <li class="list-group-item "> Si la respuesta es correcta avanzara automaticamente  a la siguiente pregunta de lo contrario te invitamos a seguir intentanto</li>
     <li class="list-group-item ">En la opcion <B>ultimo ganador </B>podras darte cuenta quien  fue el ultimo ganador  y cuanto dinero se llevo</li>
  </ul>

  <h2 class="text-center fs-3 m-3">Estas dispuesto a asumir el reto</h2>
  <div class="d-grid gap-2 col-6 mx-auto mb-3">
      <button type="button" routerLink="preguntas" class="btn btn-secondary btn-outline-dark ">Probar Suerte</button>
    </div>
  






